In [1]:
#import the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
#this is to import text file with delimiters (note that the original raw data was separated by commas) 
#and the file is assigned the name data -  you can use any name you want
#Note that if you have strings as the header , it will come up as NaN. so you have to rename the columns
path = "C:/Users/Olanrewaju.Balogun/Desktop/python/practice.txt"
data = np.genfromtxt ('C:/Users/Olanrewaju.Balogun/Desktop/python/practice.txt', delimiter =',')
#create a data frame 
df = pd.DataFrame(data)
df.head(5)

           0          1    2
0        NaN        NaN  NaN
1  34.623660  78.024693  0.0
2  30.286711  43.894998  0.0
3  35.847409  72.902198  0.0
4  60.182599  86.308552  1.0

In [3]:
#drop the first row if it has NaN 
df.dropna (subset=[1], axis = 0 , inplace = True) #this is to drop a row/column with NaN value
df.head(5)

           0          1    2
1  34.623660  78.024693  0.0
2  30.286711  43.894998  0.0
3  35.847409  72.902198  0.0
4  60.182599  86.308552  1.0
5  79.032736  75.344376  1.0

In [4]:
#rename the headers 
headers = ["Exam 1","Exam 2","Admitted"]
#this assigns the header names
df.columns=headers
df.head(5)

      Exam 1     Exam 2  Admitted
1  34.623660  78.024693       0.0
2  30.286711  43.894998       0.0
3  35.847409  72.902198       0.0
4  60.182599  86.308552       1.0
5  79.032736  75.344376       1.0

In [5]:
#to check if there are missing/blank values in the data frame  df. 'True" response means missing value, while "False" means no missing value. 
#This is just a check do not rename df
missing_data = df.isnull()
missing_data.head(5)

for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

Exam 1
False    100
Name: Exam 1, dtype: int64

Exam 2
False    100
Name: Exam 2, dtype: int64

Admitted
False    100
Name: Admitted, dtype: int64

In [35]:
#to check if all the columns contain numbers. False values indicate columns with any-non numeric values.
df.apply(lambda s: pd.to_numeric(s, errors='coerce').notnull().all())

Exam 1      True
Exam 2      True
Admitted    True
dtype: bool

In [6]:
#change admitted column to string 
#df[["Admitted"]] = df[["Admitted"]].astype("object")
#df.head(5)

In [7]:

from sklearn.model_selection import train_test_split

In [8]:
x_data = X = df[['Exam 1', 'Exam 2']]
y_data = y = df['Admitted']

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=1)

In [10]:
print("number of test samples :", X_test.shape[0])
print("number of training samples:",X_train.shape[0])

number of test samples : 40
number of training samples: 60

In [11]:
from sklearn.linear_model import LogisticRegression

In [12]:
logmodel = LogisticRegression(solver='lbfgs', multi_class='auto')
logmodel.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='auto',
          n_jobs=None, penalty='l2', random_state=None, solver='lbfgs',
          tol=0.0001, verbose=0, warm_start=False)

In [28]:
#this shows accuracy of the model
accuracy = logmodel.score(X_test, y_test)
print(accuracy*100)

90.0

In [14]:
X_test

        Exam 1     Exam 2
81   88.913896  69.803789
85   80.366756  90.960148
34   52.045405  69.432860
82   94.834507  45.694307
94   74.492692  84.845137
18   67.946855  46.678574
37   33.915500  98.869436
83   67.319257  66.589353
70   66.746719  60.991394
66   66.560894  41.092098
93   55.482161  35.570703
40   34.183640  75.237720
57   97.645634  68.861573
53   90.546714  43.390602
52   99.272527  60.999031
33   52.107980  63.127624
32   85.404519  57.051984
45   51.047752  45.822701
79   60.455556  42.508409
11   95.861555  38.225278
3    35.847409  72.902198
74   60.457886  73.094998
98   99.315009  68.775409
63   56.253817  39.261473
20   76.978784  47.575964
36   54.635106  52.213886
95   89.845807  45.358284
28   93.114389  38.800670
47   77.193035  70.458200
39   74.789253  41.573415
68   49.072563  51.883212
100  74.775893  89.529813
55   50.286496  49.804539
96   83.489163  48.380286
89   78.635424  96.647427
41   83.902394  56.308046
49   62.073064  96.768824
60   71.796462  78.453562
24   34.212061  44.209529
35   40.236894  71.167748

In [15]:
y_test

81     1.0
85     1.0
34     1.0
82     1.0
94     1.0
18     0.0
37     0.0
83     1.0
70     1.0
66     0.0
93     0.0
40     0.0
57     1.0
53     1.0
52     1.0
33     0.0
32     1.0
45     0.0
79     0.0
11     0.0
3      0.0
74     1.0
98     1.0
63     0.0
20     1.0
36     0.0
95     1.0
28     0.0
47     1.0
39     0.0
68     0.0
100    1.0
55     0.0
96     1.0
89     1.0
41     1.0
49     1.0
60     1.0
24     0.0
35     0.0
Name: Admitted, dtype: float64

In [16]:
testpredictions = logmodel.predict(X_test)

array([1., 1., 0., 1., 1., 0., 1., 1., 1., 0., 0., 0., 1., 1., 1., 0., 1.,
       0., 0., 1., 0., 1., 1., 0., 1., 0., 1., 1., 1., 0., 0., 1., 0., 1.,
       1., 1., 1., 1., 0., 0.])

In [31]:
from sklearn.metrics import classification_report

In [32]:
#this shows the accuracy per prediction
print(classification_report(y_test,testpredictions))

              precision    recall  f1-score   support

         0.0       0.94      0.83      0.88        18
         1.0       0.88      0.95      0.91        22

   micro avg       0.90      0.90      0.90        40
   macro avg       0.91      0.89      0.90        40
weighted avg       0.90      0.90      0.90        40

In [34]:
red = logmodel.predict([[45,71]])
red

array([0.])